{
  "presets": ["react", "env"],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "react-loadable/babel",
    "transform-object-rest-spread",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ]
}
